---
// About section component
---

<section id="about" class="section-wrapper m-auto">
    <!-- About Header -->
    <div class="flex items-center gap-6 md:gap-8 flex-row">
        <div class="w-full h-[1px] bg-zinc-700"></div>
        <h2 class="text-3xl md:text-4xl xl:text-5xl font-black text-end whitespace-nowrap">About<span class="text-violet-400">.</span></h2>
    </div>

    <!-- About Paragraphs -->
    <div class="grid gap-12 md:gap-16">
        <div class="space-y-6 md:space-y-8">
            <p class="text-base md:text-lg leading-relaxed md:leading-relaxed text-zinc-300">
                I am a frontend developer with a strong focus on building responsive and dynamic web
                applications using <span class="highlight">React</span>, <span class="highlight">Next.js</span>, and <span class="highlight">TailwindCSS</span>. I
                thrive on creating intuitive user interfaces and delivering seamless user experiences,
                combining technical expertise with a keen eye for design.
            </p>
            <p class="text-base md:text-lg leading-relaxed md:leading-relaxed text-zinc-300">
                Actively seeking opportunities to contribute to impactful projects as part of a
                collaborative team. With a commitment to continuous learning and a passion for clean,
                efficient code, I am ready to take on new challenges and grow as a developer.
            </p>
        </div>
    </div>

    <!-- Tech Stack -->
    <div class="relative">
        <div>
            <h4 class="flex items-center mb-6">
                <i class="fa-solid fa-cubes text-violet-400 text-xl"></i>
                <span class="font-bold ml-2">Tech Stack</span>
            </h4>

            <!-- Tags -->
            <div class="flex flex-wrap gap-2 mb-12">
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">HTML</span>
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">CSS</span>
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">JavaScript</span>
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">TailwindCSS</span>
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">Git / GitHub</span>
            </div>
        </div>

        <!-- Education -->
        <div>
            <h4 class="flex items-center mb-6">
                <i class="fa-solid fa-award text-violet-400 text-xl"></i>
                <span class="font-bold ml-2">Courses & Certifications</span>
            </h4>

            <!-- Courses & Certifications -->
            <div class="flex flex-wrap gap-2 mb-12">
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">
                    Complete Web Developer in 2024 | Zero to Mastery
                </span>
                <span class="text-xs px-2 py-1 rounded bg-zinc-700">
                    Full Stack Developer Career Path | Scrimba
                </span>
            </div>
        </div>
    </div>
</section>
