---
// Contact section component
---

<section id="contact" class="section-wrapper">
    <!-- Contact Container -->
    <div class="max-w-xl mx-auto bg-zinc-800 rounded-xl py-12 px-8">
        <!-- Contact Header -->
        <h4 class="text-3xl md:text-4xl xl:text-5xl text-center font-black mb-8 mt-3">
            Git In Touch<span class="text-violet-400">.</span>
        </h4>
        <p class="text-center mb-8 text-zinc-300 leading-relaxed md:text-lg max-w-lg mx-auto">
            If you would like to connect, feel free to send me an email. <br />You can also find me on
             <a href="https://www.linkedin.com/in/monicafariacaires/" target="_blank"
               class="text-violet-400 no-underline hover:underline font-medium">LinkedIn</a>
             if preferred.
        </p>
        <div class="flex items-center justify-center gap-3 w-fit text-lg md:text-xl whitespace-normal mx-auto mb-3 transition-colors">
            <a href="mailto:hello@monicacoding.dev" class="flex items-center gap-1 text-zinc-300 no-underline hover:text-violet-400 transition-colors">
                <i class="fa-solid fa-envelope px-1"></i>
                <span>hello@monicacoding.dev</span>
            </a>
        </div>
    </div>
</section>
