---
// Experience section component
---

<section id="experience" class="section-wrapper">
    <!-- Experience Header -->
    <div class="flex items-center gap-6 md:gap-8 mb-8 md:mb-12 flex-row">
        <div class="w-full h-[1px] bg-zinc-700"></div>
        <h2 class="text-3xl md:text-4xl xl:text-5xl font-black text-end whitespace-nowrap">Experience<span class="text-violet-400">.</span></h2>
    </div>

    <!-- Project Management Office Analyst -->
    <div class="mb-6 border-b pb-12 border-zinc-700">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
            <span class="font-semibold text-lg sm:text-xl">Project Management Office Analyst</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">January 2025 — Present</span>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-4">
            <span class="text-violet-400">Teleperformance Portugal SA</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">Lisbon, Portugal</span>
        </div>
        <p class="mb-6 text-zinc-300 leading-relaxed">
            Integrated Microsoft's Partners Process Excellence department. Tracked progress, identified risks, and implemented solutions to improve project outcomes. I managed workflows, facilitated communication, and introduced innovations to enhance efficiency and processes. Through analysis and reporting, I ensured data-driven decisions and successful project delivery.
        </p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Project Management</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Data Analysis</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Microsoft 365</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Microsoft Copilot</span>
        </div>
    </div>

    <!-- Trainer -->
    <div class="mb-6 border-b pb-12 pt-4 border-zinc-700">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
            <span class="font-semibold text-lg sm:text-xl">Operational Trainer</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">May 2021 — January 2025</span>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-4">
            <span class="text-violet-400">Teleperformance Portugal SA</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">Lisbon, Portugal</span>
        </div>
        <p class="mb-6 text-zinc-300 leading-relaxed">
            As part of Microsoft's Partners training department, I provide guidance and training as well as create training materials, leveraging the SAP SuccessFactors suite, and report training data through Microsoft Excel and Power BI. Additionally, I supported my team by serving as a backup Training Manager, which has allowed me to interact with high-level roles.
        </p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Training Delivery</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Team Management</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Microsoft 365</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">SAP SuccessFactors</span>
        </div>
    </div>

    <!-- Operations Customer Expert -->
    <div class="mb-6 border-b pb-12 pt-4 border-zinc-700">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
            <span class="font-semibold text-lg sm:text-xl">Operations Customer Expert</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">July 2019 — May 2021</span>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-4">
            <span class="text-violet-400">Teleperformance Portugal SA</span>
            <span class="text-sm sm:text-base text-zinc-400 sm:text-zinc-50">Lisbon, Portugal</span>
        </div>
        <p class="mb-6 text-zinc-300 leading-relaxed">
            Delivered exceptional customer service by addressing client concerns and ensuring satisfaction, while also supporting project management in maintaining team morale and assisting colleagues with procedure and service-related questions.
        </p>
        <div class="flex flex-wrap gap-2">
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Customer Service</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Effective Communication</span>
            <span class="text-xs px-2 py-1 rounded bg-zinc-700">Problem Solving</span>
        </div>
    </div>
</section>
