---
// Header Component
---

<header class="text-slate-100 py-12 sm:py-16 md:py-24 lg:py-0 px-6 sm:px-8 md:px-12 lg:px-8 xl:px-12 2xl:px-16 flex flex-col justify-start lg:justify-center z-10">
    <div class="relative">
        <h1 id="name" class="text-3xl sm:text-4xl font-black text-zinc-100 md:text-5xl">
            Monica Faria Caires
        </h1>
        <h2 class="pointer-events-auto my-2 text-xl sm:text-2xl text-zinc-100 md:my-4 md:text-3xl">
            <span class="font-semibold text-zinc-100">
                Frontend Developer
            </span>
        </h2>
        <p class="pointer-events-auto leading-relaxed md:leading-relaxed max-w-xl text-sm text-zinc-300 md:text-base">
            I thrive on turning complex ideas into sleek, user-friendly experiences — think of me as a digital
            <span id="marie-kondo" class="highlight">Marie Kondo</span>, but with code.
        </p>
    </div>

    <!-- Social Links -->
    <div class="flex items-center my-6 text-3xl gap-5">
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/monicafariacaires/" target="_blank">
            <i class="fa-brands fa-linkedin text-zinc-400 hover:text-zinc-100 transition-colors"></i>
        </a>

        <!-- GitHub -->
        <a href="https://github.com/monicacoding" target="_blank">
            <i class="fa-brands fa-github text-zinc-400 hover:text-zinc-100 transition-colors"></i>
        </a>

        <!-- X -->
        <a href="https://x.com/monicacoding" target="_blank">
            <i class="fa-brands fa-square-x-twitter text-zinc-400 hover:text-zinc-100 transition-colors"></i>
        </a>

        <!-- Codepen -->
        <a href="https://codepen.io/monicacoding" target="_blank">
            <i class="fa-brands fa-codepen text-zinc-400 hover:text-zinc-100 transition-colors"></i>
        </a>

        <!-- Medium -->
        <a href="https://monicacoding.medium.com/" target="_blank">
            <i class="fa-brands fa-medium text-zinc-400 hover:text-zinc-100 transition-colors"></i>
        </a>
    </div>
</header>
