---
// Projects section component
---

<section id="projects" class="section-wrapper">
    <!-- Projects Header -->
    <div class="flex items-center gap-6 md:gap-8 flex-row-reverse">
        <div class="w-full h-[1px] bg-zinc-700"></div>
        <h2 class="text-3xl md:text-4xl xl:text-5xl font-black text-end whitespace-nowrap">Projects<span class="text-violet-400">.</span></h2>
    </div>

    <!-- Projects -->
    <div class="grid gap-6 md:gap-8 xl:gap-10 grid-cols-1 xl:grid-cols-2">
        
        <!-- Git Peek -->
        <div class="w-full aspect-video bg-zinc-700 relative rounded-lg overflow-hidden mt-12">
            <img src="/assets/projects/git-peek.png" alt="An image of the GitPeek project." class="w-[85%] absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/15 transition-all rounded"/>
        </div>

        <div class="mt-6">
            <div class="flex items-center gap-2 w-full">
                <h4 class="font-bold text-lg shrink-0 max-w-[calc(100%_-_150px)]">GitPeek</h4>
                <div class="w-full h-[1px] bg-zinc-600"></div>
               
                <!-- GitHub Repository -->
                <a href="https://github.com/monicacoding/git-peek" target="_blank">
                    <i class="fa-brands fa-github text-xl text-zinc-300 hover:text-violet-400 transition-colors"></i>
                </a>

                <!-- Live Demo -->
                <a href="https://git-peek-monicacoding.vercel.app/" target="_blank">
                    <i class="fa-solid fa-arrow-up-right-from-square text-lg text-zinc-300 hover:text-violet-400 transition-colors"></i>
                </a>
            </div>

            <!-- Project Tech Stack -->
            <div class="flex flex-wrap gap-4 text-sm text-violet-400 -my-2">
                HTML – CSS – JavaScript – GitHub API
            </div>
            
            <!-- Project Description -->
            <p class="text-zinc-300 leading-relaxed">
                Web application for quickly visualizing GitHub user profiles and repositories.
            </p>
        </div>

        <!-- Text to Speech -->
        <div class="w-full aspect-video bg-zinc-700 relative rounded-lg overflow-hidden mt-12">
            <img src="/assets/projects/text-to-speech.png" alt="An image of the Text to Speech project." class="w-[85%] absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/10 transition-all rounded"/>
        </div>

        <div class="mt-6">
            <div class="flex items-center gap-2 w-full">
                <h4 class="font-bold text-lg shrink-0 max-w-[calc(100%_-_150px)]">Text to Speech</h4>
                <div class="w-full h-[1px] bg-zinc-600"></div>
               
                <!-- GitHub Repository -->
                <a href="https://github.com/monicacoding/text-to-speech" target="_blank">
                    <i class="fa-brands fa-github text-xl text-zinc-300 hover:text-violet-400 transition-colors"></i>
                </a>

                <!-- Live Demo -->
                <a href="https://text-to-speech-monicacoding.vercel.app/" target="_blank">
                    <i class="fa-solid fa-arrow-up-right-from-square text-lg text-zinc-300 hover:text-violet-400 transition-colors"></i>
                </a>
            </div>

            <!-- Project Tech Stack -->
            <div class="flex flex-wrap gap-4 text-sm text-violet-400 -my-2">
                HTML – CSS – JavaScript – Speech Synthesis API
            </div>
            
            <!-- Project Description -->
            <p class="text-zinc-300 leading-relaxed">
                Converts user-inputted text into spoken words using the browser's built-in Speech Synthesis API.
            </p>
        </div>
    </div>
</section>
